<div class="content-card card-section">
  <div class="container-fluid">

    <div class="row">
        <div class="col-lg-5 offset-lg-1 col-sm-12">
          <h3>cloud.ca is a Canadian owned and operated infrastructure-as-a-service (IaaS) provider. </h3>
      </div>

      <div class="col-lg-5 col-sm-12">
        <p>If you’re looking for a hyperscale cloud, we may not be your choice. However if you:</p>
        <ul>
          <li>Care that your data will always stay in Canada and under the control of a Canadian-owned provider</li>
          <li>Want to work collaboratively with a team of infrastructure experts that understand and support your cloud-based success, in your language</li>
          <li>Want cloud services with the flexibility to meet your needs, always charged predictably in Canadian dollars</li>
        </ul>
        <p>… then you should read on or get in touch.</p>
      </div>
    </div>


    <div class="row">
        <div class="col-lg-5 offset-lg-1 col-sm-12">
          <h3>Hyperscale comparison (Canada):</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-sm-12">
          <table style="width:100%">
              <tr>
                <th>Value</th>
                <th>Hyperscale provider</th>
                <th>cloud.ca</th>
              </tr>
              <tr>
                <td>Canadian owned/operated</td>
                <td><i class="far fa-times"></i></td>
                <td><i class="far fa-check"></i></td>
              </tr>
              <tr>
                <td>True data sovereignty*</td>
                <td><i class="far fa-times"></i></td>
                <td><i class="far fa-check"></i></td>
              </tr>
              <tr>
                <td>Broad, fixed offering of proprietary services/API’s</td>
                <td><i class="far fa-check"></i></td>
                <td><i class="far fa-times"></i></td>
              </tr>
              <tr>
                <td>Flexible, open-source oriented services/API’s with no lock-in<td>
                <td><i class="far fa-times"></i></td>
                <td><i class="far fa-check"></i></td>
              </tr>
              <tr>
                <td>Pure vendor relationship</td>
                <td><i class="far fa-check"></i></td>
                <td><i class="far fa-times"></i></td>
              </tr>
              <tr>
                <td>Collaborative SP Partnership</td>
                <td><i class="far fa-times"></i></td>
                <td><i class="far fa-check"></i></td>
              </tr>
            </table> 
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 offset-lg-1 col-sm-12">
        <h3>Use cases</h3>
        <p>cloud.ca has helped Canadian businesses across a variety of use cases and industries meet the needs of their customers and employees…</p>
        <ul>
          <li>Meeting the data sovereignty and compliance needs in <a href="#">healthcare</a></li>
          <li>Finding a <a href="used.ca">Canadian Service Provider</a> to act as a trusted partner vs vendor</li>
          <li>Focus on their core competence, while deploying a scalable, performant solution and leveraging bilingual support</li>
          <li>Other</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 offset-lg-1 col-sm-12">
        <h3>Locations</h3>
          <p>cloud.ca has infrastructure deployments in multiple data centres in Quebec and Ontario. This allows customers to choose their primary deployment region, as well as to leverage geographically diverse locations to architect and DR/Business Continuity strategies</p>
      </div>
    </div>
    <div class="row canada-map-for-mobile">
      <div class="col-lg-5 offset-lg-1 col-sm-12">
        <img src="/images/canada-map.svg" alt="canada-map">
      </div>
    </div>

  </div>
</div>
  