<div class="content-card card-section">
    <div class="container-fluid">
  
      <div class="row">
  
        <div class="col-lg-3 offset-1 col-sm-12">
                <h3>Customer solutions running on cloud.ca</h3>
          <ul>
            <li>Precision medicine</li>
            <li>Genomic consulting</li>
            <li>Home care</li>
            <li>Pharmaceutical incident management</li>
            <li>Tele-medicine</li>
            <li>Digital health coordination</li>
            <li>Addiction rehabilitation</li>
          </ul>
        </div>
        
        <div class="col-lg-6 offset-1 col-sm-12">
                <h3>Running healthcare apps on a Canadian cloud means</h3>
          <ul>
            <li>Focus on your application core competency, not on infrastructure operations</li>
            <li>Support necessary compliance requirements for security, availability and data privacy/sovereignty</li>
            <li>Flexibly scale as platform needs require, with predictable monthly Opex expenses vs large Capex outlays</li>
            <li>Primary and backup data remain in Canada</li>
          </ul>
        </div>

      </div>


      <div class="row">
            <div class="col-lg-12 col-sm-12 table key">
              <h3>Our key diferentiators</h3>
          </div>
        </div>
    
        <div class="row">
          <div class="col-lg-10 offset-lg-1 col-sm-12">
              <table style="width:100%">
                  <tr>
                    <td>Canadian data sovereignty</td>
                    <td>Multi-tenant and dedicated cloud infrastructure available</td>
                    <td>High-speed direct connect supports hybrid, multi-cloud deployments</td>
                    <td>Bilingual, personal support</td>
                    <td>SOC 2 certified</td>
                  </tr>
                </table> 
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-sm-12 table">
              <h3>Our healthcare customers</h3>
          </div>

          <div class="col-lg-10 offset-lg-1 col-sm-12 customers">
            <table style="width:100%">
              <tr>
                <td><img src="/images/alayacare.jpg" alt="alayacare"></td>
                <td><img src="/images/hospitalis.png" alt="hospitalis"></td>
                <td><img src="/images/biogeniq.png" alt="biogeniq"></td>
                <td><img src="/images/pharmapod.png" alt="pharmapod"></td>
                <td><img src="/images/portage.png" alt="portage"></td>
                <td><img src="/images/retina-labs.png" alt="retina-labs"></td>

              </tr>
            </table> 
          </div>
        </div>

    </div>
</div>