<div class="row">
    <div class="col-lg-5 offset-lg-1 col-sm-12">
      <h3>Multi-tenant cloud</h3>
      <p>cloud.ca provides all the benefits of of cloud infrastructure-as-a-service (IaaS) - on-demand scalability, built-in high-availability/redundancy and price/performance economics coupled with stringent security at all levels</p>

  </div>

  <div class="col-lg-5 col-sm-12">
    <ul>
      <li>on-demand, scalable compute resources</li>
      <li>Performance-oriented primary storage, with optional QoS guarantees</li>
      <li>Economical object storage for cloud applications, backup and archival</li>
      <li>Worry-free infrastructure operations let you focus on your core-competence</li>
      <li>Single-pane-of-glass interface and full API access</li>
    </ul>
  </div>
</div>


<div class="row">
    <div class="col-lg-10 offset-lg-1 table">
        <h3>Storage</h3>
    </div>
    
    <div class="col-lg-10 offset-lg-1">
        <p>Cloud storage is a key strategic component for cloud deployments requiring data sovereignty or embracing a data trust philosophy. Towards this goal, cloud.ca provides a variety of storage offerings, all with the guarantee of high-security, high-availability and that data will always remain in Canada.</p>
    </div> 
    <div class="col-lg-3 offset-lg-1 col-sm-12 customers">
      <table style="width:100%">
          <tr>
              <td class="title-bottom-border">Performance Block Storage with QoS</td>
            </tr>
          <tr class="customers-table-content">
            <td class="customers-table-content">This all SSD-driven primary storage provides 3 tiers of guaranteed performance to meet the needs of any critical, performance-oriented workload</td>
          </tr>
          <tr class="customers-table-content">
            <td class="customers-table-content">Ideal uses: Latency sensitive applications, large SQL/NoSQL databases, AI</td>
          </tr>
      </table> 
    </div>

    <div class="col-lg-3 col-sm-12 customers">
      <table style="width:100%">
          <tr>
              <td class="title-bottom-border">Performance Block Storage (no QoS)</td>
            </tr>
          <tr class="customers-table-content">
            <td class="customers-table-content">This hybrid-SSD primary storage provides an ideal price/performance balance for workloads with more flexible performance requirements</td>
          </tr>
          <tr class="customers-table-content">
            <td class="customers-table-content">Ideal uses: Web server, applications server, databases</td>
          </tr>
      </table> 
    </div>

    <div class="col-lg-3 col-sm-12 customers">
      <table style="width:100%">
          <tr>
              <td class="title-bottom-border">Object storage</td>
            </tr>
          <tr class="customers-table-content">
            <td class="customers-table-content">This storage tier provides highly-scalable, flexible Swift and S3 compatible redundant object storage that is ideal for inline application usage as well backup and archival. Storage policies provide for both single-region and multi-region capabilities</td>
          </tr>
          <tr class="customers-table-content">
            <td class="customers-table-content">Ideal uses: Disaster recovery — Backup and Archiving, Static web site hosting and static content distribution, Document Store and file sharing, Big Data analytics</td>
          </tr>
      </table> 
    </div>

  </div>