.product {

    padding-top: 100px;

    h3 {
        color: @global-official-red;
    }

    p, li, th, td, {
        font-size: 20px;
        color: @global-official-dark-grey;
        font-weight: lighter;
        line-height: 1.7;
        padding-left: 15px;
    }

    ul li::before {
        content: "\2022";  /* CSS unicode for a bullet */
        color: @global-official-red;
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1.5em; /* Also needed for space */
        margin-left: -1.5em; /* Also needed for space*/
    }

    a {
        color: @global-official-red;
    }

    th {
        text-transform: uppercase;
    }

    th, td {
        border-bottom: 1px solid @global-official-light-grey;
        text-align: center;
        padding: 6px 15px;
    }

    th:first-child, td:first-child {
        text-align: left;
    }

    .customer-solutions {
        background-color: #fff;
        margin: 100px 0;
        box-shadow: 2px 10px 15px rgba(0, 0, 0, .3);
        padding: 10px;

        h3 {
            padding: 50px 100px 0 100px;
        }

        ul {
            padding: 20px 0 0 115px;
        }
    }

    .customer-solutions-row {
        margin-top: 100px;
    }


    td:last-child {
        border-right-style: none;
    }

    td.title-bottom-border:after {
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        margin: 15px 0 30px;
        width: 20%; /* Change this to whatever width you want. */
        padding-top: 0; /* This creates some space between the element and the border. */
        border-bottom: 1px solid @global-official-red; /* This creates the border. Replace black with whatever color you want. */
    }



    @media screen and (max-width : 768px) {
        td {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            vertical-align: center;
            padding-top: 40px;
            padding-bottom: 40px;
            border-right: none;
            border-bottom: solid 1px @global-official-red;
        }

        .customers td {
            border-bottom-style: none;
        }

        td.title-bottom-border:after {
            top: 30%;
            left: 50%; 
            -webkit-transform: translate(-50%, 0); 
            position: absolute;
        }

        }

}